.search_result-section {
  height: 25vh;
}


.result_for {
  margin-top:15px;
  margin-left:23%
} 

.nominate {
  float: right;
  background-color:#007f60;
  border-color: #007f60;
  color:white;
  padding: 6px 15px;
  border-radius: 50px;
}


.nominate :hover {
  box-shadow: 5px 10px
}
.card{ 
  width: 40em;
  margin: 0 auto;
}
 


